<%= form_for(@employee) do |f| %>
<% if @employee.errors.any? %>
<%=  render "/partials/error_alert.html", error_data: @employee.errors  %>
<% end %>
<div class="field">
  <%= f.label :first_name%><br>
  <%= f.text_field :first_name,required: "true"  %>
</div>
<div class="field">
  <%= f.label :last_name %><br>
  <%= f.text_field :last_name,required: "true"  %>
</div>
<div class="field">
  <%= f.label :mail %><br>
  <%= f.text_field :mail,required: "true"  %>
</div>
<div class="field">
  <%= f.label :birth %><br>
  <%= f.date_select :birth, class: "browser-default" %>
</div>
<div class="field">
  <%= f.label :department_id %><br>
  <%= f.text_field :department_id %>
</div>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>