<div class="row">
  <div class="card-panel">
    <h4><%= @employee.first_name %> <%= @employee.last_name %></h4>
    <p>Email: <%= @employee.mail %></p>
    <p>Birth: <%= @employee.birth||="--" %></p>
    <% unless @employee.department.nil? %>
    <p>Department: <%= @employee.department.name||="--" %></p>
    <% end %>
    <strong>Barcode</strong>
    <div class="row">
      <div class="center">
        <%= @barcode.to_html.html_safe%>
      </div>
    </div>
    <div class="divider"></div>
    <p class="right-align">
      <%= link_to "Edit information",edit_employee_path(@employee) %>
      |
      <%= link_to "Delete user ",@employee, method: :delete %>
    </p>
    
  </div>
</div>