<%= form_for(@clock) do |f| %>
<% if @clock.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@clock.errors.count, "error") %> prohibited this clock from being saved:</h2>
  <ul>
    <% @clock.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<h4>Welcome to time checker</h4>
<h5>Please, enter your code</h5>
<div class="container">
  <%= f.text_field :employee, placeholder: "Enter the code", required: "true", class: "autofocus" %>
</div>
<div class="actions">
  <div class="row center">
    <%= f.submit "Check in now!", class: "btn btn-large checkin-buttons" %>
    <%= button_tag "Reset field", :type => 'reset', class: "btn btn-large red checkin-buttons" %>
  </div>
</div>
<% end %>