<div class="card">
  <div class="card-content">
    <h4>Listing Clocks</h4>
    <div class="row">
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s3"><a class="active"  href="#today">Today log (<%= @clocks.size %>)</a></li>
          <li class="tab col s3"><a class="active"  href="#late">Late (<%= @late.size %>)</a></li>
          <li class="tab col s3"><a href="#missing">Missing (<%= @missing.size %>)</a></li>
        </ul>
      </div>
      <div id="today" class="col s12">
        <%= render "list_log", clocks:@clocks %>
      </div>
      <div id="late" class="col s12">
        <%= render "list_log", clocks:@late %>
      </div>
      <div id="missing" class="col s12">
        <%= render "/employees/employees_list", employees:@missing %>
      </div>
    </div>
    <ul class="pagination">
      <%= will_paginate @employees %>
    </ul>
    <br>
  </div>
</div>
