<div class="row">
  <div class="col s7 offset-l2">
    <div class="card ">
      <div class="card-content">
        <div class="row center">
          <%  if @clock.evaluation == "0" %>
          <h4 class="red-text ">Check in ready</h4>
          <% end%>
          <h5><%= @employee.first_name+" "+@employee.last_name %></h5>
          <h5>Date: <%= @clock.date.strftime("%Y-%m-%d") %></h5>
          <h5>Time: <%= @clock.date.strftime("%H:%M:%S") %></h5>
          <p>
            <strong>Type log:</strong>
            <%= @clock.moment.name %>
          </p>
          <div class="center">
            <br>
            <%= link_to 'Back', root_path, class: "btn red" %>
            <%= link_to 'History ', clocks_path, class: "btn green" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>